<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <title>Reset Password Email</title>
    <style>
        /* -------------------------------------
          GLOBAL RESETS
      ------------------------------------- */
        /*All the styling goes here*/
        img {
            border: none;
            -ms-interpolation-mode: bicubic;
            max-width: 100%;
        }

        body {
            background-color: #f6f6f6;
            font-family: sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 1.4;
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        table {
            border-collapse: separate;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            width: 100%;
        }

        table td {
            font-family: sans-serif;
            font-size: 14px;
            vertical-align: top;
        }

        /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */
        .body {
            background-color: #f6f6f6;
            width: 100%;
        }

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            display: block;
            margin: 0 auto !important;
            /* makes it centered */
            max-width: 580px;
            padding: 10px;
            width: 580px;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            box-sizing: border-box;
            display: block;
            margin: 0 auto;
            max-width: 1000px;
            padding: 10px;
        }

        /* -------------------------------------
          HEADER, FOOTER, MAIN
      ------------------------------------- */
        .main {
            background: #ffffff;
            border-radius: 3px;
            width: 100%;
        }

        .wrapper {
            box-sizing: border-box;
            padding: 20px;
        }

        .content-block {
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .footer {
            clear: both;
            margin-top: 10px;
            text-align: center;
            width: 100%;
        }

        .footer td,
        .footer p,
        .footer span,
        .footer a {
            color: #999999;
            font-size: 12px;
            text-align: center;
        }

        /* -------------------------------------
          TYPOGRAPHY
      ------------------------------------- */
        h1,
        h2,
        h3,
        h4 {
            color: #000000;
            font-family: sans-serif;
            font-weight: 400;
            line-height: 1.4;
            margin: 0;
            margin-bottom: 30px;
        }

        h1 {
            font-size: 35px;
            font-weight: 300;
            text-align: center;
            text-transform: capitalize;
        }

        p,
        ul,
        ol {
            font-family: sans-serif;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            margin-bottom: 15px;
        }

        p li,
        ul li,
        ol li {
            list-style-position: inside;
            margin-left: 5px;
        }

        a {
            color: #3498db;
            text-decoration: underline;
        }

        /* -------------------------------------
          BUTTONS
      ------------------------------------- */
        .btn {
            box-sizing: border-box;
            width: 100%;
        }

        .btn>tbody>tr>td {
            padding-bottom: 15px;
        }

        .btn table {
            width: auto;
        }

        .btn table td {
            background-color: #ffffff;
            border-radius: 5px;
            text-align: center;
        }

        /* -------------------------------------
          OTHER STYLES THAT MIGHT BE USEFUL
      ------------------------------------- */
        .last {
            margin-bottom: 0;
        }

        .first {
            margin-top: 0;
        }

        .align-center {
            text-align: center;
        }

        .align-right {
            text-align: right;
        }

        .align-left {
            text-align: left;
        }

        .clear {
            clear: both;
        }

        .mt0 {
            margin-top: 0;
        }

        .mb0 {
            margin-bottom: 0;
        }

        .preheader {
            color: transparent;
            display: none;
            height: 0;
            max-height: 0;
            max-width: 0;
            opacity: 0;
            overflow: hidden;
            mso-hide: all;
            visibility: hidden;
            width: 0;
        }

        .powered-by a {
            text-decoration: none;
        }

        hr {
            border: 0;
            border-bottom: 1px solid #333;
            margin: 20px 0;
        }

        .gray-border-bottom {
            border-bottom: 1px solid #adadad;
        }

        /* -------------------------------------
          RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
        @media only screen and (max-width: 620px) {
            table[class=body] h1 {
                font-size: 28px !important;
                margin-bottom: 10px !important;
            }

            table[class=body] p,
            table[class=body] ul,
            table[class=body] ol,
            table[class=body] td,
            table[class=body] span,
            table[class=body] a {
                font-size: 16px !important;
            }

            table[class=body] .wrapper,
            table[class=body] .article {
                padding: 10px !important;
            }

            table[class=body] .content {
                padding: 0 !important;
            }

            table[class=body] .container {
                padding: 0 !important;
                width: 100% !important;
            }

            table[class=body] .main {
                border-left-width: 0 !important;
                border-radius: 0 !important;
                border-right-width: 0 !important;
            }

            table[class=body] .btn table {
                width: 100% !important;
            }

            table[class=body] .btn a {
                width: 100% !important;
            }

            table[class=body] .img-responsive {
                height: auto !important;
                max-width: 100% !important;
                width: auto !important;
            }
        }

        /* -------------------------------------
          PRESERVE THESE STYLES IN THE HEAD
      ------------------------------------- */
        @media all {
            .ExternalClass {
                width: 100%;
            }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

            .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
            }

            #MessageViewBody a {
                color: inherit;
                text-decoration: none;
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
        }

        /* -------------------------------------
          CUSTOM STYLE
      ------------------------------------- */
        .header-logo {
            margin: auto;
            margin-top: 1.2em;
        }

        .two-columns-layout {
            display: flex;
            justify-content: space-between;
        }

        .two-columns-layout div {
            width: 50%;
        }

        .two-columns-layout .right-column {
            text-align: right;
        }

        .name-style {
            font-size: 1.4em;
            color: #004a99;
            font-weight: bold;
            text-transform: uppercase;
        }

        .quotation-table {
            margin-top: 10px;
            border-collapse: collapse;
            width: 100%;
        }

        .quotation-table th {
            padding: 5px;
            background-color: #004a99;
            color: #fff;
            text-align: left;
        }

        .quotation-table td {
            padding: 10px 5px;
            overflow-x: auto;
        }

        .quotation-table tr:nth-child(odd) {
            background-color: #f0f0f0
        }

        .quotation-table td:nth-child(1) {
            max-width: 200px;
        }

        .quotation-table td:nth-child(3) {
            max-width: 100px;
        }

        .quotation-table td:nth-child(5) {
            max-width: 100px;
        }

        .table-item-highlight-style {
            background-color: #004a99;
            padding: 5px 10px;
            color: #fff;
        }

        .shop-product-tag {
            background: #004a99;
            border: 1px solid #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 2px;
        }

        .service-product-tag {
            border: 1px solid #004a99;
            background-color: #004a9926;
            color: #004a99;
            padding: 5px 10px;
            border-radius: 2px;
        }
    </style>
</head>

<body class="">
    <table role="presentation" border="0" cellp adding="0" cellspacing="0" class="body">
        <tr>
            <td>&nbsp;</td>
            <td class="container">
                <div class="content">
                    <div>
                        <div class="two-columns-layout">
                            <div class="company-info">
                                <p class="name-style">PNTECH JSC</p>
                                <p>&#x1F3E2; 231/14 Nguyễn Phúc Chu, Phường 15, Tân Bình, Tân Bình Hồ Chí Minh</p>
                                <p>&#x1F4F1; 093 792 7547</p>
                                <p>&#x1F4E7; sales@pntech.vn</p>
                            </div>
                            <div class="right-column">
                                <div class="header-logo">
                                    <img src="../uploads/mail-images/Pntech_logo.png">
                                </div>
                            </div>
                        </div>
                        <div style="padding-top: 1em">
                            <h2 style="font-size:2.2em" class="gray-border-bottom name-style">BẢNG BÁO GIÁ</h2>
                        </div>
                        <div class="two-columns-layout">
                            <div>
                                <p class="name-style" style="color:#333">THÔNG TIN</p>
                                <p>&#x1F4C5; {{currentDate}}</p>
                                <p>&#x1F4C4; Đơn hàng <span style="color:#004a99">{{orderId}}</span></p>
                            </div>
                            <div class="right-column">
                                <p class="name-style">{{user.lastName}} {{user.firstName}}</p>
                                <p>{{user.phone}} &#x1F4F1;</p>
                                <p>{{user.email}} &#x1F4E7;</p>
                            </div>
                        </div>
                        <table class="quotation-table">
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Loại sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                            </tr>
                            {{#each orderItems}}
                            <tr>
                                <td>{{product.name}}</td>
                                <td>Sẵn có</td>
                                <td>{{singlePrice}}</td>
                                <td>{{quantity}}</td>
                                <td>{{totalPriceAfterDiscount}}</td>
                            </tr>
                            {{/each}}
                            {{#each customOrderItems}}
                            <tr>
                                <td>{{name}}</td>
                                <td>Dịch vụ</td>
                                <td>{{singlePrice}}</td>
                                <td>{{quantity}}</td>
                                <td>{{totalPrice}}</td>
                            </tr>
                            {{/each}}
                        </table>
                        <div class="two-columns-layout" style="margin-top: 25px">
                            <div>

                            </div>
                            <div style="width: 60%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <th style="padding: 5px 10px">TỔNG SỐ LƯỢNG</th>
                                        <td style="padding: 5px 10px">{{quantity}} sản phẩm</td>
                                    </tr>
                                    <tr>
                                        <th class="table-item-highlight-style">TỔNG TIỀN</th>
                                        <th class="table-item-highlight-style">{{totalPriceAfterDiscount}} VND</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- START FOOTER -->
                    <div class="footer">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="content-block">
                                    <span class="apple-link">Công Ty Cổ Phần Công Nghệ PNTECH
                                        231/14 Nguyễn Phúc Chu, Phường 15, Tân Bình, Tp.HCM</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- END FOOTER -->

                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>

</html>